.blog-detail {
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main {
    width: 80%;
  }
  &__imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  &__image {
    display: flex;
    width: 100%;
  }
  &__postDetail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
  &__postValueContainer {
    display: flex;
  }
  &__postValue {
    padding: 20px 20px;
  }
  &__shareInfoContainer {
    display: flex;
  }
  &__buttonContainer {
    display: flex;
    margin: 0px 30px;
    align-items: center;
  }
  &__button {
    &.makeStyles-button-2{
      padding: 10px 50px;
      border-radius: 8px;
      background-color: #FFA200;
      ;
    }
  }
  &__sharetitle {
    padding: 20px 20px;
    cursor: pointer;
  }
  &__sharetext {
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    color:#5F1802;
  }
  &__listContainer {
    padding: 20px 30px;
  }
  &__listItemContainer {
    height: 60px;
  }
}