.college-list {
  display: flex;
  justify-content: center;
  &__container {
    width: 1080px;
    background-color: blue;
  }
  &__listContainer {
    display: flex;
  }
  &__sideBarContainer {
    width: 30%;
  }
  &__collegeResultContainer {
    width: 70%;
  }
}