.container {
  .comparecollege__header {
    height: 129px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .comparecollege__head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comparecollege__title {
        font-size: 24px;
        line-height: 26px;
        font-weight: 800;
        display: flex;
        align-items: center;
      }
      .comparecollege__filterbtn {
        padding: 15px, 36px, 15px, 36px;
        border: 1px solid #5f1802;
        width: 210px;
        height: 54px;
        color: #5f1802;
        border-radius: 10px;
        .btn__icon {
          font-size: 24px;
          margin-right: 10px;
        }
      }
    }

    //customize scroll bar
    ::-webkit-scrollbar {
      height: 2px;
    }
    ::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 10px;
    }
    //------------end-----------
  }

  //----------END HEADER SECTION-------------

  .comparecollege__addcollegecontainer {
    // height: 423px;
    background-color: #fbf8f8;
    padding-top: 28px;
    padding-bottom: 58px;
    // border: 1px solid black;

    .comparecollege__collegelist {
      display: flex;
      align-items: center;
      border-radius: 5px;
      margin-left: 230px;
      justify-content: space-between;
      // flex-direction: column;
      @media (max-width: 702px) {
        flex-direction: row;
        justify-content: end;
      }
      @media (max-width: 450px) {
        //width: 100%;
        overflow-x: auto;
        min-width: 200px;
      }
        .add__div {
          flex: 1;
          position: relative;
          display: flex;
          padding: 10px;
        @media (max-width:725px) {
          height: 80px;
          width: 200px;
          margin-bottom: 35px;
        }
        @media (max-width:450px) {
          max-width: 250px;
        }

        }
      .comparecollege__addtemplates {
        margin-left: 24px;
        background-color: rgba(95, 24, 2, 0.08);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 200px;
        height: 103px;

        border-radius: 10px;

        padding: 10px;

        @media (max-width: 450px) {
          min-width: 150px;
          min-height: 150px;
          max-height: 180px;
        }
      }
    }
  }
}
