.contact-container {
  display: flex;
  flex-direction: column;
  background-color: #ffa200;
}
.banner {
  height: 482px;
  position: relative;
  padding-left: 10%;
  padding-top: 113px;
  margin-bottom: 40px;
  @media (max-width: 600px) {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.banner-opacity {
  height: 361px;
  background-image: url(../../public//map.png);
  position: absolute;
  right: 10px;
  width: 30%;
  top: 0;
  @media (max-width: 530px) {
    display: none;
  }
}
.banner-head {
  font-weight: 800;
  line-height: 53px;
  font-size: 36px;
  color: #333333;
  width: fit-content;
}
.banner-content {
  width: 60%;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  flex-wrap: wrap;
  @media (max-width: 600px) {
    width: 100%;
  }
}
.banner-image {
  background: radial-gradient(
    50.14% 50.14% at 50.1% 49.86%,
    rgba(255, 162, 0, 0.46) 0%,
    #ffa200 100%
  );
  height: 361px;
  position: relative;
  img {
    position: absolute;
    left: 120px;
    bottom: 180px;
  }
}
.banner-imageValue {
  @media (max-width: 700px) {
    display: none;
  }
}
.form-wrapper {
  margin-top: -260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 81px;
  position: relative;
  z-index: 2;
  @media (max-width: 550px) {
    margin-top: -291px;
    margin-bottom: 20px;
  }
  // @media (max-width: 1024px) {
  //   margin-top: -200px;
  // }
  // @media (max-width: 600px) {
  //   margin-top: -254px;
  // }
}
