.blog-detail-content {
  margin: 20px 0px;
  &__contentText {
    color: #333333;
    line-height: 2.4;
    font-size: 16px;
   
    
  }
  &__contentTitle {
    margin: 20px 0px;
  }
  &__horizontalLine {
    margin: 30px 0px;
  }
  &__autherContainer {
    display: flex;
  }
  &__autherImage {
    height: 70px;
  }
  &__autherTextContainer {
    padding: 10px 30px;
  }
  &__autherName {
    margin: 5px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
  }
  &__autherTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
  }
  &__commentContainer {
    margin: 20px 0px;
  }
  &__commentText {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    word-break: break-all;
    
    }
  &__textareaValue {
    margin: 10px 0px;
    width: 100%;
    line-height: 3;
  }
}
