.blog-list-member {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__highlightPost {
    width: 65%;
  }
  &__topPost {
  }
  &__secondaryPostContainer {
    display: flex;
    justify-content: space-between;
  }
  &__postList {
    width: 33%;
  }

}