.blog-list-member {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 414px) {
    flex-direction: column;
    padding: 0px 20px;
  }
  &__highlightPost {
    width: 65%;
    @media (max-width: 414px) {
      width: 100%;
    }
  }
  &__topPost {
    margin: 0px;
  }
  &__secondaryPostContainer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
  &__postList {
    width: 33%;
    @media (max-width: 414px) {
      width: 100%;
    }
  }
}