.blog-list {
  padding: 40px 0;
  overflow: hidden;
  &__inner {
    background-image: url(/dotted.png);
    background-position-y: 96px;
    background-position-x: 50rem;
    background-repeat: no-repeat;
    // width: calc(100% - 30px);
    // // margin: 40px 15px;
    // @media (min-width: 768px) {
    //   width: 720px;
    //   margin: 0 auto;
    // }
    // @media (min-width: 1024px) {
    //   width: 940px;
    // }
    // @media (min-width: 1200px) {
    //   width: 1170px;
    // }
    // @media (min-width: 1360px) {
    //   width: 1240px;
    // }
  }
  &__titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    @media (max-width: 760px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__heading {
    margin-bottom: 12px;
    text-align: left;
  }
  &__title {
    // max-width: 464px;
    text-align: left;
    @media (max-width: 450px) {
      font-size: 24px;
      font-weight: 800;
      line-height: 36px;

      width: 60%;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media (max-width: 760px) {
      grid-template-columns: 1fr;
    }
  }
}
.formobile {
  display: none;
  @media (max-width: 450px) {
    display: initial;
  }
}
