.blog-list-member {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
  &__secondaryPost {
    height: 100%;
  }
  &__postList {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  &__highlightPost {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;

    @media (max-width: 414px) {
      width: 100%;
    }
  }
  &__topPost {
    height: 400px;
  }
  &__secondaryPostContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 356px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
  &__postList {
    display: grid;
    gap: 12px;
    @media (max-width: 414px) {
      width: 100%;
    }
  }
}
