.blog-detail-header {
  display: flex;
  margin: 30px 30px;
  align-items: center;
  flex-direction: column;
  &__title {
    text-align: center;
    width: 550px;
    color: #333333;
    font-style: normal;
    font-weight: 800;
    text-align: center;
  }
  &__subtitle {
    color: #828282;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center; 
  }
  &__keyword {

  }
}