.cta-button {
  font-size: 16px;
  line-height: 24px;
  height: 54px;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 15px 36px;
  border: 1px solid #5f1802;
  background-color: #fff;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
}

.cta-button.filled {
  color: #f2f2f2;
  background-color: $primary-color;
  border: none;
}

.cta-button.full-width {
  width: 100%;
}

.cta-button.login {
  width: 292px;
}
