.cta-button {
  font-size: 16px;
  line-height: 24px;
  height: 54px;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 15px 36px;
  border: 1px solid #5f1802;
  background-color: #fff;
  cursor: pointer;
}
