.carousel {
  width: auto;

  &__lines {
    display: flex;
    justify-content: center;

    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    @media (max-width: 600px) {
      bottom: -18px;
    }
  }
  &__line {
    width: 58px;
    margin-left: 5px;
  }
}
