.card-1 {
  width: 193px;
  height: 202px;
  display: grid;
  &__inner {
    padding: 20px;
    background-image: linear-gradient(
        180deg,
        rgba(1, 1, 1, 0) 0%,
        rgba(95, 24, 2, 0.51) 45.31%,
        #5f1802 100%
      ),
      url(/india.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: grid;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 4px;
  }
  &__subtitle {
    line-height: 16.6px;
    font-size: 12px;
  }
  &__about {
    align-self: flex-end;
    color: #fff;
    text-align: left;
  }
}
