.college-list-selected-filter {
  background-color: white;
  border-radius: 5px;
  padding: 10px 10px;
  &__filterTitleContainer {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
  }
  &__filterKeyContainer {
    display: flex;
    background-color: purple;
  }
}