.collegelist__collegecontainer {
  width: 311px;
  height: 103px;
  min-width: 311px;
  //margin-left: 24px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  // position: relative; commented by solanki
  display: flex;
  padding: 10px;
  background-color: #fff;

  @media (max-width: 450px) {
    max-height: 250px;
  }

  .card__removeicon {
    position: absolute;
    top: -10%;
    right: -10px;
    cursor: pointer;
    img {
      width: 25px;
      height: 25px;
    }
  }

  .collegelist__collegeimage {
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @media (max-width: 730px) {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }
  }
  .collegelist__collegedetails {
    padding: 5px 10px;
    width: 100%;

    .collegelist__collegename {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
      max-width: 300px;
      // position:absolute;
      // align-items: center;
      //display: flex;
      @media (max-width: 1014px) {
        font-size: 14px;
      }
      @media (max-width: 730px) {
        font-size: 12px;
      }
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
    .collegelist__collegeaddress {
      color: #4f4f4f;
      font-weight: normal;
      font-size: 14px;
      display: flex;
      margin-top: 9px;
      font-size: 14px;
      align-items: center;
      max-width: 200px;
      @media (max-width: 1014px) {
        font-size: 12px;
      }
      @media (max-width: 730px) {
        font-size: 10px;
      }
      @media (max-width: 800px) {
        font-size: 11px;
      }
      @media (max-width: 460px) {
        display: none;
      }
      @media (max-width: 461px) {
        font-size: 9px;
      }
    }
  }
}
