.collegecompare__tablecontainer {
  margin-top: 51px;
  overflow: auto;

  .collegetable_metacontainer {
    display: flex;
    justify-content: space-between;
    margin-left: 257px;

    color: #333333;
    padding-right: 8px;
    margin-bottom: 12px;

    .collegetable_meta {
      font-size: 20px;
    }

    .collegetable_period {
      display: flex;
      justify-content: flex-end;

      span {
        margin-top: 5px;
      }
      span:first-child {
        margin-top: 5px;
        margin-right: 15px;
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
  .compare-college-table {
    width: 100%;
    .compare-table-inner {
      display: flex;
      align-items: center;
    }

    .compare-table-label {
      display: flex;
      min-width: 200px;
      padding: 16px;
      font-size: 16px;
      text-align: left;
      font-weight: 800;
      color: #4f4f4f;
    }

    .comparetable__data_attributes {
      font-size: 18px;
      color: #4f4f4f;
      padding: 33px 27px;
      height: 97px;
      width: 311px;
      align-items: center;
      width: 309px;
      height: 97px;
      display: flex;
      border: 1px solid #e0e0e0;
      margin-left: 24px;
      background-color: white;

      .comparetable__datavalue {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .compare__datavalue__forranking {
          margin-left: 20px;

          span {
            color: #ffa200;
            font-weight: 800;
          }
        }
      }
    }
  }
}
