.colleges-card {
  width: 100%;

  &__inner {
    cursor: pointer;
  }

  &__thumbnail {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    height: 167px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__title-wrap {
    position: absolute;
    bottom: 8px;
    left: 11px;
    z-index: 1;
    width: 80%;
    max-width: 254px;
  }
  &__title {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 4px;
  }
  &__location {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    // justify-content: center;
    color: #f2f2f2;
    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
  &__details {
    background: #ffffff;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 5px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -4px;
    height: 180px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 14px 17px 11px;
    position: relative;
  }
  &__key-value-wrap {
    display: flex;
    align-items: center;
  }
  &__key-value-wrap.lg {
    justify-content: space-between;
  }
  &__key-value {
    display: flex;
    align-items: center;
    width: 77px;
  }
  &__key-value.lg {
    width: auto;
  }
  &__key,
  &__value {
    font-size: 10px;
    line-height: 15px;
    color: #828282;
  }
  &__key.lg,
  &__value.lg {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
  }
  &__value {
    font-weight: 700;
    margin-left: 3px;
  }
  &__logo {
    position: absolute;
    bottom: 11px;
    // box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    right: 14px;
    img {
      object-fit: cover;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
    }
  }
  &__bottom {
    padding: 14px 0 0 0;
    margin: 0 12px;
    border-top: 1px solid $border-color;

    hr.colleges-card__line {
      border: 1px solid #e0e0e0;
    }
    .colleges-card__viewdetails {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      font-weight: 500;
      font-size: 14px;
      color: $primary-color;
      cursor: pointer;
    }
  }

  &__course {
    margin: 0 0px 20px 0px;
  }
}

.colleges-card:hover .colleges-card__title {
  text-decoration: underline;
}

.review-rating-container {
  position: absolute;
  right: 15px;
  top: 15px;
}

.review-title {
  color: #f2f2f2;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}

.rating-container {
  float: right;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.review-number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #f2f2f2;
  margin-top: 4px;
}
.review-detail {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #f2f2f2;
}
.like-icon {
  width: 18px !important;
  height: 18px !important;

  display: initial !important;
}
