.college-header {
  width: 100%;
  margin: 0;
  // background-image: url(/college-background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 28px 0;
  &__inner {
    // width: calc(100% - 30px);
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;

    // @media (min-width: 768px) {
    //   width: 720px;
    //   margin: 0px auto;
    // }
    // @media (min-width: 1024px) {
    //   width: 940px;
    // }
    // @media (min-width: 1200px) {
    //   width: 1170px;
    // }
    // @media (min-width: 1360px) {
    //   width: 1240px;
    // }
  }
  &__rating-wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
  }
  &__college {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 620px) {
      flex-direction: column;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
  &__logo {
    height: 130px;
    max-width: 130px;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    @media (max-width: 414px) {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;

      @media (max-width: 450px) {
        display: none;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 100%;
  }
  &__info-top {
    display: flex;
    gap: 50px;
  }
  &__affiliated-by-container {
    display: flex;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-transform: capitalize;
    position: relative;
    &::before {
      position: absolute;
      left: -2rem;
      content: "";
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: #fff;
      top: 50%;
      transform: translateY(-100%);
    }
  }
  // &__affliated-content {
  //   font-size: 14px;
  //   font-weight: 500;
  //   line-height: 21px;
  //   text-transform: capitalize;
  // }
  &__estd {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 5px;
  }
  &__name {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }
  &__meta {
    display: flex;
    align-items: center;
    gap: 4rem;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 5px;
    }
    &__item {
      display: flex;
      align-items: center;
      position: relative;

      &:nth-child(2)::before,
      &:nth-child(3)::before {
        position: absolute;
        left: -2rem;
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #fff;
        @media (max-width: 1180px) {
          background-color: transparent;
        }
      }
    }
    &__logo {
      margin-right: 8px;

      @media (max-width:414px) {
        display: none;
      }
    }
    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      display: flex;
      gap: 20px;
      text-transform: capitalize;
    }
  }
  &__college_board {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #fff;
      right: -10px;
      height: 60%;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child::after {
      background-color: transparent;
    }
  }
  &__right {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @media (max-width: 620px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
    }
  }
  &__task {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 25px;
  }
}
.task {
  &__logo {
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
  }
  &__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}
