.collegelist__collegecontainer {
  width: 311px;
  height: 103px;
  margin-left: 24px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  padding: 10px;
  background-color: #fff;
  
  @media (max-width: 450px) {
    max-height: 250px;
  }

  .card__removeicon {
    position: absolute;
    top: -4%;
    right: -10px;
    cursor: pointer;
    img {
      width: 36px;
      height: 36px;
    }
  }

  .collegelist__collegeimage {
    width: 64px;
    height: 64;

    font-family: "M Plus 1p", sans-serif;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .collegelist__collegedetails {
    padding: 10px;
    width: 100%;

    .collegelist__collegename{
      font-size: 16px;
      font-weight: 800;
      color: $primary-color;
    }
    .collegelist__collegeaddress {
      font-family: "M Plus 1p", sans-serif;
      color: #4F4F4F;
      font-weight: normal;
      font-size: 14px;
      display: flex;
      margin-top: 9px;
      font-size: 14px;
      align-items: center;

      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}
