.college-list-result {
  border-radius: 5px;
  &__titleContainer {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px 10px;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
  &__titleText {
    display: flex;
    color: #4F4F4F;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    @media (max-width: 414px) {
      margin-bottom: 10px;
    }
  }
  &__titleTextNumber {
    padding: 0px 5px;
    color:#FFA200;    ;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
  }
  &__sortContainer {
    display: flex;
  }
  &__sortItemTitle {
    padding: 0px 5px;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #828282;
    ;
  }
  &__sortItem {
    padding: 0px 5px;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #828282;
    cursor: pointer;
  }
  &__resultContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    @media (max-width: 1050px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 530px) {
      grid-template-columns: 1fr;
    }
  }
  &__cardContainer {
    margin: 5px 0px 0px 0px;
    @media (max-width: 414px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}