.college-card-loader-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin: 15px 0;
}

.college-card-skeleton-loader {
  // height: 371px;

  .college-thumbnail {
    position: relative;
    height: 173px;

    .college-logo {
      position: absolute;
      bottom: -30px;
      right: 26px;
      z-index: 2;
    }
  }

  .card-line {
    display: flex;
    gap: 3.8rem;
  }

  .college-details {
    position: relative;

    .college-review-container {
      position: absolute;
      top: 20px;
      display: flex;
      gap: 2rem;
      left: 1rem;
    }

    .college-line {
      position: absolute;
      top: 50px;
      width: 100%;
    }

    .college-course-details-container {
      position: absolute;
      top: 90px;
      display: flex;
      gap: 2rem;
      padding: 0 10px;
      width: 100%;
    }

    .college-topcourse-details-container {
      position: absolute;
      padding: 0 10px;
      overflow: hidden;
      top: 120px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  }
}
