.course-fee {
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 30px 38px 18px 38px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 16px;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
  &__course {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #333;
    width: 20%;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 414px) {
      width: auto !important;
      text-align: center;
      margin-bottom: 10px;
    }
    @media (max-width: 484px) {
      width: auto !important;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__fee,
  &__eligibility {
    @media (max-width: 414px) {
      margin-bottom: 10px;
    }
    span {
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: #828282;
      text-align: center;
    }
    span.title {
      font-size: 14px;
      line-height: 21px;
      color: #333;
      text-transform: capitalize;
    }
  }
  &__details {
    color: #5f1802;
    font-weight: 600;
    font-size: 14px;
    margin: auto 0;
    cursor: pointer;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
  &__cta {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 500;
    color: $primary-color;
    @media (max-width: 414px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
