.dashboard-sidebar {
  position: sticky;
  background-color: white;
  padding: 25px 30px;
  height: 100%;
  &__logout {
    margin-top: 150px;
    font-family: Mplus 1p;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #5f1802;
    cursor: pointer;
  }
}
