.dashboard-welcome-card {
  display: flex;
  background-color: #cfb9b3;
  border-radius: 5px;
  padding: 15px 20px;
  justify-content: space-between;
  @media (max-width: 830px) {
    flex-direction: column;
  }
  &__percentContainer {
    width: 20%;
    @media (max-width: 830px) {
      width: 100%;
    }
  }
  &__textInfoContainer {
    width: 85%;
    @media (max-width: 830px) {
      width: 100%;
      margin: 15px 0px;
    }
  }
  &__titleText {
    color: #4f4f4f;
    font-family: Mplus 1p;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__descText {
    color: #4f4f4f;
    font-family: Mplus 1p;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__ButtonContainer {
    align-self: center;
    @media (max-width: 414px) {
      width: 100%;
    }
  }
}
