.feature {
  background-color: #fff;
  padding: 25px;
  //cursor: pointer;
  border-radius: 5px;
  border-color: #F2F2F2;
  &:hover {
    box-shadow: 0px 17px 37px rgba(0, 0, 0, 0.14);
    transition: all 0.2s ease-in-out;

    .feature-title {
      font-weight: 600;
    }
    .feature-icon {
      stroke: #ffa200 !important;
      //
    }
    .feature-icon-fill {
      fill: #ffa200 !important;
    }
    .learn-more {
      display: block;
    }
  }

  .feature-image {
    display: flex;
    justify-content: flex-end;
  }

  .feature-title {
    color: #333;
    font-weight: 500;
    font-size: 20px;
    width: 90%;
  }
  .feature-description {
    font-size: 14px;
    color: #333;
    // padding-right: 75px;
    line-height: 1.4;
    margin-top: 10px;
    text-align: justify;
  }
  .learn-more {
    color: #333;
    font-weight: 800;
    font-size: 14px;
    margin-top: 20px;
    display: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
