.feature {
  margin-top: 57px;
  font-family: "M Plus 1p", sans-serif;

  .feature__heading {
    font-size: 14px;
    line-height: 21px;
    color: #f2f2f2;
    font-weight: 800;
  }

  .feature__listcontainer {
    width: 262px;
    height: 102px;
    margin-top: 17px;

    .feature__details {
      display: flex;

      img {
        width: 24px;
        height: 25px;
        display: flex;
        align-self: center;
      }

      .feature__title {
        font-weight: 800;
        font-size: 16px;
        margin-left: 18px;
      }
    }
    .feature__descrition {
      margin-top: 17px;
      color: #f2f2f2;
      font-size: 14px;
    }
  }

  .feature__btn {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
  }
}
