.feature {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 60px;
  }
  &__heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 30px;
  }
  &__item {
    &__title-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }
    &__icon {
      margin-right: 18px;
      color: $secondary-color;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }
    &__desc {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
