.five-steps {
  margin: 0;
  overflow: hidden;
  background-color: #f5f3f4;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 500px) {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .five-steps__mobile {
    background-color: #fff;
    padding: 16px 16px;
    @media screen and (min-width: 1024px) {
      display: none;
    }
    .five-steps__mobileHeader {
      text-align: center;
      p {
        // font-family: "Mplus 1p";
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 207.9%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #bdbdbd;
      }
      h2 {
        font-weight: 800;
        // font-size: 36px;
        font-size: 22px;
        // line-height: 53px;
        line-height: 40px;
        color: #333333;
      }
    }
    .five-steps__mobilelist {
      .five-steps__mobilelist__inner {
        .five-steps__mobileitem {
          // background-color: red;
          // margin: 0;
          .five-steps__mobileitem__text {
            // margin-left: 10px;
            .five-steps__mobileitem__title {
              font-style: normal;
              font-weight: 800;
              font-size: 16px;
              line-height: 138.3%;
              align-items: center;
              color: #5f1802;
            }
            .five-steps__mobileitem__desc {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 138.3%;
              color: #828282;
            }
          }
        }
      }
      .five-steps__mobileitem {
        display: flex;
        // align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 25px;
        // background-color: yellow;
      }
      .five-steps__mobileitem {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 5fr;
        // direction: rtl;
        // background-color: yellow;
        gap: 10px;
        .five-steps__mobileitem__icon {
          // background-color: yellow;
          height: 60px;
          width: 60px;
          padding: 10px;
          color: $secondary-color;
          // background-size:contain;
          background-color: #f6f6f6;
          border-radius: 50%;
          display: block;
          margin:  auto;
          // display: grid;
          // place-items: center;

          svg{
            width: 90%;
            height:90%;
            // position: absolute;
            display: block;
            margin: auto;
          }
          // place-items: center;
          path {
            fill: $secondary-color;
          }
        }
      }
    }
  }
  .five-steps__inner {
    @media (min-width: 1400px) {
      margin-right: 0;
    }
  }
  &__circle-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    right: -30%;
  }
  &__outer-circle {
    width: 765px;
    height: 765px;
    border-radius: 50%;
    background: transparent;
    border: 2px dashed $border-color;
    position: relative;
    margin: 17px 0;
    margin-right: -10%;
    display: none;
    @media (max-width: 450px) {
      border: none;
      margin: 0;
    }
    @media screen and (max-width: 1024px) {
      width: 600px;
      height: 600px;
    }
    @media screen and (min-width: 1024px) {
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 30%);
      height: calc(100% + 30%);
      display: block;
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -15%;
      top: -15%;
      display: none;
      @media (max-width: 450px) {
        display: none;
        left: 0%;
        height: auto;
      }
      @media screen and (max-width: 1024px) {
        left: -9%;
        top: -9%;
        height: 120%;
      }
      @media screen and (min-width: 1024px) {
        display: inline-block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 50%);
      height: calc(100% + 50%);
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -25%;
      top: -25%;
      @media (max-width: 450px) {
        display: none;
        left: 0%;
      }
      @media screen and (max-width: 1024px) {
        height: 140%;
        left: -18%;
        top: -18%;
        display: none;
      }
      display: block;
    }
  }
  &__circle {
    width: 691px;
    height: 691px;
    z-index: 100;
    border-radius: 50%;
    background-color: $primary-color;
    color: #fff;
    position: relative;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    @media (max-width: 450px) {
      width: 476px;
      height: 422px;
      top: 10%;
      left: 32%;
    }
    @media screen and (max-width: 1024px) {
      width: 400px;
      height: 400px;
    }
    @media screen and (min-width: 1024px) {
      display: grid;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 26%);
      height: calc(100% + 26%);
      display: block;
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -13%;
      top: -13%;
      @media (max-width: 450px) {
        display: none;
        left: 0%;
      }
    }

    &__inner {
      z-index: 1;
      @media (max-width: 450px) {
        display: flex;
        margin-top: 25%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }
    }

    &__heading {
      font-size: 16px;
      letter-spacing: 2px;
      color: $border-color;
      font-weight: 700;
      margin-bottom: 14px;
      @media (max-width: 450px) {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      max-width: 320px;
      @media (max-width: 450px) {
        font-size: 24px;
        max-width: 240px;
      }
    }
    &__cta {
      margin-top: 25px;
    }
  }
  &__list {
    position: absolute;
    display: block;
    background: transparent;
    left: -80%;
    top: 55px;
    @media (max-width: 500px) {
      position: relative;
      width: 85% !important;
      top: -12%;
      margin-left: 10px;
    }
    @media (max-width: 1024px) {
      // position: relative;
      right: 40%;
      // width: 100%;
    }

    .five-steps__list__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    text-align: right;
    margin-bottom: 74px;
    // background-color: yellow;
    @media (max-width: 450px) {
      flex-direction: row-reverse;
      text-align: left;
      margin-bottom: 40px;
    }
    @media (max-width: 1024px) {
      // flex-direction: row-reverse;
      // text-align: left;
      margin-bottom: 40px;
      margin-left: 20px;
    }
    &:nth-child(2) {
      margin-left: -35px;
      @media (max-width: 450px) {
        margin-left: 0;
      }
      @media screen and (max-width: 1024px) {
        margin-left: -20px;
      }
    }
    &:nth-child(4) {
      margin-left: -70px;
      @media (max-width: 450px) {
        margin-left: 0;
      }
      @media screen and (max-width: 1024px) {
        margin-left: -60px;
      }
    }
    &:nth-child(5) {
      margin-left: -40px;
      @media (max-width: 450px) {
        margin-left: 0;
      }
      @media screen and (max-width: 1024px) {
        margin-left: -30px;
      }
    }
    &:nth-child(3) {
      margin-left: -65px;
      @media (max-width: 450px) {
        margin-left: 0;
      }
      @media screen and (max-width: 1024px) {
        margin-left: -50px;
      }
    }
    &__text {
      margin-right: 24px;

      @media (max-width: 450px) {
        margin-left: 11px;
      }
      @media (max-width: 1024px) {
        margin-left: 11px;
        margin-right: 10px;
      }
    }
    &__title {
      font-size: 16px;
      font-weight: 800;
      line-height: 22px;
      margin-bottom: 10px;
      color: #333333;
    }
    &__desc {
      font-size: 14px;
      line-height: 1.7;
      color: $gray-3;
    }
    &__icon {
      height: 79px;
      width: 79px;
      color: $secondary-color;
      background-color: #fff;
      border-radius: 50%;
      display: grid;
      place-items: center;
      path {
        fill: $secondary-color;
      }
      @media (max-width: 500px) {
        height: 65px;
        width: 100px;
      }
      @media screen and (min-width: 1024px) {
        z-index: 100;
        height: 50px;
        width: 50px;
      }
    }
  }
}

.five-steps__item {
  cursor: pointer;
  &:hover {
    .five-steps__item__title {
      color: $primary-color;
    }
    .five-steps__item__icon {
      background-color: $secondary-color;
      filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.06));
      transform: matrix(-1, 0, 0, 1, 0, 0);
      path {
        fill: #fff;
      }
    }
  }
}
