.five-steps {
  margin: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  &__circle-wrap {
    display: flex;
    justify-content: flex-end;
  }
  &__outer-circle {
    width: 765px;
    height: 765px;
    border-radius: 50%;
    background: transparent;
    border: 2px dashed $border-color;
    position: relative;
    margin: 17px 0;
    margin-right: -10%;
    @media (max-width: 450px) {
      border: none;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 30%);
      height: calc(100% + 30%);
      display: block;
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -15%;
      top: -15%;
      @media (max-width: 450px) {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 50%);
      height: calc(100% + 50%);
      display: block;
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -25%;
      top: -25%;
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
  &__circle {
    width: 691px;
    height: 691px;
    border-radius: 50%;
    background-color: $primary-color;
    color: #fff;
    position: relative;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @media (max-width: 450px) {
      width: 480px;
      height: 500px;
      top: 15%;
      left: 32%;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 26%);
      height: calc(100% + 26%);
      display: block;
      background: transparent;
      border: 2px dashed $border-color;
      border-radius: 50%;
      left: -13%;
      top: -13%;
      @media (max-width: 450px) {
        display: none;
      }
    }

    &__inner {
      @media (max-width: 450px) {
        // margin-top: 100px;
        // margin-left: 40px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &__heading {
      font-size: 16px;
      letter-spacing: 2px;
      color: $border-color;
      font-weight: 700;
      margin-bottom: 14px;
      @media (max-width: 450px) {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      max-width: 320px;
      @media (max-width: 450px) {
        font-size: 24px;
        max-width: 240px;
      }
    }
    &__cta {
      margin-top: 25px;
    }
  }
  &__list {
    position: absolute;
    display: block;
    background: transparent;
    left: -80%;
    top: 55px;
    @media (max-width: 450px) {
      display: block;
      position: relative;
      display: none;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    text-align: right;
    margin-bottom: 74px;
    &:nth-child(2),
    &:nth-child(4) {
      margin-left: -76px;
    }
    &:nth-child(3) {
      margin-left: -110px;
    }
    &__text {
      margin-right: 24px;
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 10px;
      color: $primary-color;
    }
    &__desc {
      font-size: 14px;
      line-height: 19px;
      color: $gray-3;
    }
    &__icon {
      height: 79px;
      width: 79px;
      color: $secondary-color;
      background-color: #fff;
      border-radius: 50%;
      display: grid;
      place-items: center;
      path {
        fill: $secondary-color;
      }
    }
    &__icon.active {
      background-color: $secondary-color;
      filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.06));
      transform: matrix(-1, 0, 0, 1, 0, 0);
      path {
        fill: #fff;
      }
    }
  }
}
