input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 15px 0;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21px;
  color: #4f4f4f;
  text-indent: 10px;
}
