.international-collaboration {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 16px;
  &__inner {
    padding: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 35px;
    place-items: center;
    margin-top: 27px;
  }
  &__thumbnail {
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
  }
  &__label {
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #333;
  }
}
