.list-item-wrap {
  margin: 38px 0;
}
.list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;

  &__icon {
    margin-right: 24.5px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
  }
  &__desc {
    font-size: 14px;
    line-height: 21px;
    color: $gray-3;
  }
}
