@import "contact";
@import "signup";
@import "logo";
@import "navigation";
@import "about-country";
@import "card";
@import "heading";
@import "title";
@import "list-item";
@import "merit";
@import "btn";
@import "why-us";
@import "feature";
@import "statistics";
@import "collegeCard";
@import "collegeCourse";
@import "collegeBlock";
@import "callToAction";
@import "collegeFinder";
@import "courseCard";
@import "blogCard";
@import "blogList";
@import "teams";
@import "authentication";
@import "input";
@import "five-steps";
@import "testimonial";
