@import "contact";
@import "signup";
@import "logo";
@import "navigation";
@import "about-country";
@import "card";
@import "heading";
@import "title";
@import "list-item";
@import "merit";
@import "btn";
@import "why-us";
@import "feature";
@import "statistics";
@import "collegeCard";
@import "collegeCourse";
@import "collegeBlock";
@import "callToAction";
@import "collegeFinder";
@import "courseCard";
@import "blogCard";
@import "blogList";
@import "teams";
@import "authentication";
@import "input";
@import "five-steps";
@import "testimonial";
@import "rating";
@import "college-header";
@import "inner";
@import "submenu";
@import "sidebar-container";
@import "sidebar";
@import "info-block";
@import "college-overview";
@import "course-fee";
@import "courses-list";
@import "fee-structure";
@import "level-list";
@import "newsletter";
@import "rating-review";
@import "review";
@import "faculty-information";
@import "trending-courses";
@import "thumbnail-text";
@import "news-o-c";
@import "facility-item";
@import "college-facility";
@import "International-collaboration";
@import "scholarship";
@import "admission-process";
@import "college-gallery";
@import "introduction";
@import "faq";
@import "quick-help";
@import "block-search";
