.merit {
  margin: 36px 0;
  width: 100%;
  @media (max-width: 500px) {
    margin: 20px 0;
  }

  // @media (min-width: 768px) {
  //   width: 720px;
  //   margin: 20px auto;
  // }
  // @media (max-width: 450px) {
  //   width: 100%;

  //   margin: 0;
  // }
  // @media (min-width: 1024px) {
  //   width: 940px;
  // }
  // @media (min-width: 1200px) {
  //   width: 1170px;
  // }
  // @media (min-width: 1360px) {
  //   width: 1240px;
  // }

  &__aboutus__inner {
    padding: 20px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
    background-position: top;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      background-image: none;
    }
    @media (max-width: 500px) {
      grid-gap: 0;
    }
  }

  &__feature__inner {
    padding: 20px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
    background-position: top;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      background-image: none;
    }
    @media (max-width: 500px) {
      grid-gap: 0;
    }
  }

  &__inner {
    padding: 20px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/dotted.png");
    background-repeat: no-repeat;
    background-position: top;
    grid-gap: 30px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      background-image: none;
    }
    @media (max-width: 500px) {
      grid-gap: 0;
    }
  }
  &__title {
    text-align: left;
    span {
      color: $secondary-color;
      text-transform: uppercase;
    }

    @media (max-width: 450px) {
      font-size: 24px;
    }
  }

  &__heading {
    text-align: left;
    margin-bottom: 12px;
    @media (max-width: 500px) {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 0;
    }
  }
  &__left {
    align-self: center;
    justify-self: flex-start;

    .list-item-wrap {
      .list-item__icon {
        display: flex;
        align-self: flex-start;
      }
    }
  }
  &__feature__left {
     width: 75%;
     padding-top: 55px;

    .list-item-wrap {
      .list-item__icon {
        display: flex;
      }
    }
  }

  &__feature__right {
    align-self: center;
    justify-self: flex-end;
    position: relative;
    width: 75%;
  }

  &__right {
    align-self: center;
    justify-self: flex-end;
    position: relative;
  }
  &__desc {
    font-size: 14px;
    line-height: 20px;
    color: $gray-3;
  }
  &__feature__desc {
    padding-top: 16px;
    font-size: 14px;
    line-height: 20px;
    color: $gray-3;
  }
  &__thumbnail {
    overflow: hidden;
    position: relative;
    margin-left: 74px;
    margin-bottom: 61px;
    width: 613px;
    height: 336px;
    @media (max-width: 750px) {
      margin-left: 0;
    }
    @media (max-width: 580px) {
      margin-bottom: 20px;
      height: 100%;
      width: 100%;
    }
    img {
      height: auto;
      width: 100%;
      border-radius: 5px;
    }
    &__text {
      padding: 26px 14px 36px 40px;
      background-color: $primary-color;
      border-radius: 5px;
      position: absolute;
      width: 409px;
      left: 0;
      bottom: -20px;
      color: #fff;
      @media (max-width: 450px) {
        padding: 0;
        background-color: transparent;
        display: none;
      }
    }
    &__title {
      margin-bottom: 31px;
      font-size: 28px;
      line-height: 41px;
      font-weight: 700;
      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
    &__cta {
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      a {
        text-decoration: underline;
      }
      img {
        position: absolute;

        top: -100%;
        left: 110%;
        transform: translate(-30%, -100%);
      }
    }
  }

  &__feature__thumbnail {
    overflow: hidden;
    position: relative;
    margin-left: 74px;
    margin-bottom: 61px;
    width: 546px;
    height: 410px;
    @media (max-width: 750px) {
      margin-left: 0;
    }
    @media (max-width: 580px) {
      margin-bottom: 20px;
      height: 100%;
      width: 100%;
    }
    img {
      height: auto;
      width: 100%;
      border-radius: 5px;
    }
    &__text {
      padding: 26px 14px 36px 40px;
      background-color: $primary-color;
      border-radius: 5px;
      position: absolute;
      width: 409px;
      left: 0;
      bottom: -20px;
      color: #fff;
      @media (max-width: 450px) {
        padding: 0;
        background-color: transparent;
        display: none;
      }
    }
    &__title {
      margin-bottom: 31px;
      font-size: 28px;
      line-height: 41px;
      font-weight: 700;
      @media (max-width: 420px) {
        font-size: 16px;
      }
    }
    &__cta {
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      a {
        text-decoration: underline;
      }
      img {
        position: absolute;

        top: -100%;
        left: 110%;
        transform: translate(-30%, -100%);
      }
    }
  }
  .playicon-formobileversion {
    // display: none;
    // @media (max-width: 450px) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    // }
  }
  .formobile {
    display: none;
    @media (max-width: 450px) {
      display: block;
      margin: auto;

      text-align: center;
    }
  }
}

.hideofmobile {
  @media (max-width: 450px) {
    display: none;
  }
}
