.rankingawards__section {
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 16px;
  font-family: "M PLUS 1p", sans-serif;

  .rankingawards__title {
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: $secondary-color;
  }
  .rankingawards__heading {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    margin-top: 18px;
  }
  .rankingawards__tabletitle {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    width: 95%;
    div {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: #828282;
    }
  }
  .rankingawards__awardscontainer {
    max-height: 370px;
    overflow: auto;

    .rankingawards__awardsbox {
      padding: 20px 0;
      background-color: #f2f2f2;
      margin-top: 15px;
    }
    .rankingawards_contents {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: auto;
      padding-right: 30px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  //scroll bar coustomization
  ::-webkit-scrollbar {
    width: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }
  //----------END--------------------
  .award__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    margin-top: 18px;
  }
  .award__container {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    .award__content {
      width: 85px;
      height: 85px;
      max-height: 85px;
      max-width: 85px;
      min-height: 85px;
      .award__details {
        font-weight: 800;
        text-align: center;
        color: #4f4f4f;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
