.scholarship-item {
  display: grid;
  place-items: center;
  @media (max-width: 414px) {
    width: 50%;
    margin-bottom: 10px;
    align-items: center;
  }
  &__logo {
    img {
      height: auto;
      object-fit: cover;
    }
  }
  &__title {
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color: #4f4f4f;
    margin-top: 8px;
  }
}
