.sidebar-container {
  background-color: #f2f2f2;
  padding-top: 17px;
  &__inner {
    display: flex;
    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
}

.content-with-sidebar {
  width: calc(100% - 324px);
  margin-right: 24px;
  @media (max-width: 414px) {
    width: 100%;
  }
}
