.signup {
  display: flex;
  align-items: center;
  cursor: pointer;
  &__text {
    margin-left: 6px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    color: $secondary-color;
    display: inline-block;
  }
}
