.stat {
  margin: 28px auto;
  &__inner {
    padding: 20px;
  }
  &__heading {
    margin-bottom: 12px;
  }
  &__title {
    margin: 0 auto;
    margin-bottom: 21px;
    max-width: 576px;
  }
  &__info {
    margin: 40px auto;
    width: 1024px;
    background-image: url("data:image/svg+xml, /vector3");
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__item {
    margin-bottom: 57px;
    text-align: center;
    &__title {
      font-size: 12.6px;
      line-height: 16.5px;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      color: $gray-2;
    }
    &__count {
      margin-bottom: 37px;
      color: $primary-color;
      font-size: 56px;
      line-height: 66.53px;
      font-weight: 700;
    }
    &__count.secondary {
      color: $secondary-color;
    }
    &__count.blue2 {
      color: $blue2;
    }
    &__count.green2 {
      color: $green2;
    }
  }
}
