.syllabus-title {
  font-weight: 500;
  font-family: "Mplus 1p", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}
.course-container {
  margin-top: 10px;

  .course-list {
    color: #333;
    font-family: "Mplus 1p", sans-serif;
    font-size: 14px;
    line-height: 23px;
  }
}
