.testimonial {
  background-image: url("../../public/testimonial-background.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  // @media (max-width: 1024) {
  //   overflow: auto;
  // }
  // @media (max-width: 450px) {
  //   background-size: initial;
  // }

  &__inner {
    display: grid;
    place-items: center;
    // padding: 80px 0;
    overflow: auto;
    position: relative;
    .learnmore__btn {
      position: absolute;
      top: 2%;
      right: 5%;
    }
    // @media (max-width: 450px) {
    //   display: none;
    // }
  }
  &__left {
    display: flex;
    align-items: center;

    &__thumbnail {
      &:nth-child(3) {
        margin-top: 140px;
        margin-right: 40px;
        img {
          height: 64px;
          width: 64px;
        }
        @media (max-width: 1024px) {
          margin-top: 140px;
          margin-right: 40px;
          img {
            height: 60px;
            width: 60px;
          }
        }
        @media (max-width: 890px) {
          margin-top: 140px;
          margin-right: 30px;
          img {
            height: 56px;
            width: 56px;
          }
        }
        @media (max-width: 568px) {
          margin-top: 140px;
          margin-right: 20px;
          img {
            height: 54px;
            width: 54px;
          }
        }
      }
      &:nth-child(2) {
        margin-top: -50px;
        margin-left: -85px;
        img {
          height: 105px;
          width: 105px;
        }
        @media (max-width: 1024px) {
          margin-top: -50px;
          margin-left: -85px;
          img {
            height: 80px;
            width: 80px;
          }
        }
        @media (max-width: 756px) {
          margin-top: -50px;
          margin-right: -20px;
          img {
            height: 76px;
            width: 76px;
          }
        }
        @media (max-width: 568px) {
          margin-top: -50px;
          margin-right: -15px;
          img {
            height: 74px;
            width: 74px;
          }
        }
      }
      &:nth-child(1) {
        margin-top: 200px;
        margin-right: 115px;
        img {
          height: 77px;
          width: 77px;
        }
        @media (max-width: 1024px) {
          margin-top: 200px;
          margin-right: 115px;
          img {
            height: 70px;
            width: 70px;
          }
        }
        @media (max-width: 890px) {
          margin-top: 200px;
          margin-right: 95px;
          img {
            height: 64px;
            width: 64px;
          }
        }
        @media (max-width: 568px) {
          margin-top: 200px;
          margin-right: 90px;
          img {
            height: 62px;
            width: 62px;
          }
        }
      }
    }
  }
  &__center {
    height: 304px;
    width: 304px;
    border-radius: 50%;
    border: 3px dashed $primary-color;
    padding: 18px;
    position: relative;
    box-sizing: content-box;
    img {
      height: 304px;
      width: 100%;
      width: 304px;
      border-radius: 50%;
      object-fit: fill;
    }
    @media (max-width: 1024px) {
      height: 294px;
      width: 294px;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 294px;
        width: 100%;
        width: 294px;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 890px) {
      height: 286px;
      width: 286px;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 286px;
        width: 100%;
        width: 286px;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 800px) {
      height: 240px;
      width: 240px;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 240px !important;
        width: 100%;
        width: 240px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 712px) {
      height: 210px !important;
      width: 210px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 210px !important;
        width: 100%;
        width: 210px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }

    @media (max-width: 598px) {
      height: 190px !important;
      width: 190px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 190px !important;
        width: 100%;
        width: 190px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 578px) {
      height: 180px !important;
      width: 180px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 180px !important;
        width: 100%;
        width: 180px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 568px) {
      height: 180px !important;
      width: 180px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 180px !important;
        width: 100%;
        width: 180px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 553px) {
      height: 160px !important;
      width: 160px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 160px !important;
        width: 100%;
        width: 160px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 532px) {
      height: 140px !important;
      width: 140px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 140px !important;
        width: 100%;
        width: 140px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
    @media (max-width: 512px) {
      height: 120px !important;
      width: 120px !important;
      border-radius: 50%;
      border: 3px dashed $primary-color;
      padding: 18px;
      position: relative;
      box-sizing: content-box;
      img {
        height: 120px !important;
        width: 100%;
        width: 120px !important;
        border-radius: 50%;
        object-fit: fill;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
      display: none;
    }

    &__thumbnail {
      &:nth-child(3) {
        margin-top: 200px;
        margin-left: -115px;
        img {
          height: 56px;
          width: 56px;
        }
        @media (max-width: 1024px) {
          margin-top: 220px;
          margin-left: -105px;
          img {
            height: 50px;
            width: 50px;
          }
        }
        @media (max-width: 818px) {
          margin-top: 200px;
          margin-left: -85px;
          img {
            height: 40px;
            width: 40px;
          }
        }
        @media (max-width: 756px) {
          margin-top: 200px;
          margin-left: -65px;
          img {
            height: 40px;
            width: 40px;
          }
        }
      }
      &:nth-child(2) {
        margin-top: -50px;
        margin-left: 85px;
        img {
          height: 92px;
          width: 92px;
        }
        @media (max-width: 1024px) {
          margin-top: -50px;
          margin-left: 30px;
          img {
            height: 86px;
            width: 86px;
          }
        }
        @media (max-width: 890px) {
          margin-top: -50px;
          margin-left: 20px;
          img {
            height: 82px;
            width: 82px;
          }
        }
        @media (max-width: 772px) {
          margin-top: -50px;
          margin-left: 10px;
          img {
            height: 76px;
            width: 76px;
          }
        }
      }
      &:nth-child(1) {
        margin-top: 140px;
        margin-left: 40px;
        img {
          height: 81px;
          width: 81px;
        }
        @media (max-width: 1024px) {
          margin-top: 140px;
          margin-left: 30px;
          img {
            height: 78px;
            width: 78px;
          }
        }
        @media (max-width: 890px) {
          margin-top: 140px;
          margin-left: 20px;
          img {
            height: 74px;
            width: 74px;
          }
        }
      }
    }
  }
  &__item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__play-icon {
    cursor: pointer;
    position: absolute;
    right: -15px;
    bottom: 15px;
  }

  &__text {
    display: flex;
    // justify-content: center;
    // margin-left: 50px;
    margin-left: 150px;
    @media (max-width: 552px) {
      margin-left: 10px;
      max-width: 400px;
    }
    @media (max-width: 450px) {
      margin-left: 10px;
      max-width: 360px;
    }
    @media (max-width: 512px) {
      margin-left: 10px;
      max-width: 400px;
    }
  }
  &__textDescription {
    color: #30233d;
    text-decoration: line-through;
   
  }
  // &__textDescription {
  //   text-align: center;
  //   position: fixed;
  // }
  &__quote {
    position: absolute;
    left: 55px;
    bottom: 15px;
  }

  &__author {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: 200px;
    span {
      font-weight: 400;
    }
    @media (max-width: 552px) {
      margin-left: -10px;
      align-items: center;
      margin-top: 5px;
    }
    @media (max-width: 415px) {
      margin-left: -10px;
      align-items: center;
    }
  }
  .testimonial__formobile {
    display: none;
    @media (max-width: 450px) {
      display: block;
    }
  }
  .mobiletestimonial {
    @media (max-width: 552px) {
      display: none !important;
    }
  }
}

.txtDesMod{
  background-color: #f7ede2;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
}