.testimonial {
  //margin: 80px 0;
  background-image: url("../../public/testimonial-background.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  // @media (max-width: 1024) {
  //   overflow: auto;
  // }
  @media (max-width: 450px) {
    background-size: initial;
  }

  &__inner {
    display: grid;
    place-items: center;
    // padding: 80px 0;
    overflow: auto;
    @media (max-width: 450px) {
      display: none;
    }
  }
  &__left {
    display: flex;
    align-items: center;

    &__thumbnail {
      &:nth-child(3) {
        margin-top: 120px;
        margin-left: -120px;
      }
      &:nth-child(2) {
        margin-top: -120px;
        margin-left: -55px;
      }
      &:nth-child(1) {
        margin-top: 120px;
      }
    }
  }
  &__center {
    height: 304px;
    width: 304px;
    border-radius: 50%;
    border: 3px dashed $primary-color;
    padding: 18px;
    position: relative;
    box-sizing: content-box;
    img {
      max-height: 304px;
      width: 100%;
      //max-width: 304px;
      border-radius: 50%;
      object-fit: fill;
    }
  }
  &__right {
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
      display: none;
    }

    &__thumbnail {
      &:nth-child(1) {
        margin-top: 180px;
        margin-left: -50px;
        @media (max-width: 1024px) {
          margin: 0;
        }
      }
    }
  }
  &__item-wrap {
    display: flex;
    align-items: center;
  }
  &__play-icon {
    cursor: pointer;
    position: absolute;
    right: -15px;
    bottom: 15px;
  }
  &__text {
    font-style: italic;
    font-size: 24px;
    line-height: 42.5px;
    text-align: center;
    margin-bottom: 17px;
    // max-width: 750px;
  }
  &__quote {
    position: absolute;
    left: 55px;
    bottom: 15px;
  }

  &__author {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    span {
      font-weight: 700;
    }
  }
  .testimonial__formobile {
    display: none;
    @media (max-width: 450px) {
      display: block;
    }
  }
}
