.us {
  position: relative;
  font-size: 14px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 820px) {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    background-image: linear-gradient(
        rgba(79, 79, 79, 0.7),
        rgba(79, 79, 79, 0.7)
      ),
      url(/us.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 36px 38px 38px 0;
      @media (min-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1024px) {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1200px) {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1360px) {
        width: 100%;
        margin-left: auto;
        margin-right: 0;
        padding-left: 60px;
      }
      @media (max-width: 820px) {
        padding-left: 24px;
      }
      @media (max-width: 1024px) {
        height: 640px;
      }
      @media (max-width: 500px) {
        padding-left: 10px;
      }

      .us__btncontainer {
        display: flex;
        align-items: flex-end;
        .btn__left {
          border: 1px solid #ffffff;
          margin-right: 3px;
          width: 48px;
          height: 48px;
          outline: none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: #ffa200;
            border-color: #ffa200;
            transition: 0.2s all ease-in;
          }
        }

        .btn__right {
          border: 1px solid #ffa200;
          cursor: pointer;
          width: 48px;
          height: 48px;
          outline: none;
          background-color: #ffa200;
        }
      }
    }
  }
  &__right {
    &__top {
      background-image: linear-gradient(
          rgba(1, 1, 1, 0) 0%,
          rgba(2, 2, 2, 0.4) 45.31%,
          rgba(3, 3, 3, 0.77) 100%
        ),
        url(/us1.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 36px 0px 32px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      height: 320px;
      @media (max-width: 500px) {
        padding: 20px 10px;
      }
    }
    &__bottom {
      background-image: linear-gradient(
          rgba(1, 1, 1, 0) 0%,
          rgba(2, 2, 2, 0.4) 45.31%,
          rgba(3, 3, 3, 0.77) 100%
        ),
        url(/us2.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 36px 100px 32px 24px;
      height: 320px;
      color: #fff;
      display: grid;
      @media (max-width: 500px) {
        padding: 20px 10px;
      }
    }
  }
  &__title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    @media (max-width: 450px) {
      font-size: 24px;
    }
    &--mini {
      font-size: 30px;
    }
  }
  &__desc {
    line-height: 1.7;
  }
  &__feature {
    margin-top: 30px;
    margin-bottom: 32px;
  }
  &__btn {
    margin-top: 40px;
  }
  &__info {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
    svg {
      width: 156px;
      position: absolute;
      transform: rotate(89deg);

      left: -18px;
      top: -23px;
    }
    path {
      fill: transparent;
      stroke: #f4c851;
      stroke-dasharray: 0.1, 3;
      stroke-linecap: round;
    }

    .hexagon-border {
      height: 140px;
      width: 140px;
      position: absolute;
      border-right: 2px dotted red;
      border-left: 2px dotted red;
      left: -10px;

      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 212.13px;
        height: 212.13px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 40.934px;
        top: -106.066px;
        border-top: 3px dotted #f00;
        border-right: 3px dotted #f00;
      }
    }
    &__logo {
      height: 111px;
      width: 130px;
      position: relative;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      border: 1px solid black;

      img {
        height: 100%;
        width: 100%;
        // object-fit: contain;

        @media (max-width: 450px) {
          margin-bottom: 10px;
        }
      }
    }
    &__cat-wrap {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-bottom: 8px;
    }
    &__cat {
      margin-left: 8px;
    }
    &__estd {
      display: flex;
      align-self: center;
      span {
        font-weight: 700;
      }
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: block;
        margin-left: 6px;
        margin-top: 4px;
        background-color: $secondary-color;
      }
    }
    &__name {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 7px;
    }
    &__details-wrap {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &__details {
      line-height: 20px;
    }
  }
  &__read {
    align-self: flex-end;
    &__title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 8px;
      font-weight: 700;
    }
    &__desc {
      line-height: 20px;
      margin-bottom: 12px;
    }
  }
  &__cta {
    line-height: 20px;
    color: $secondary-color;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 500px) {
      float: right;
    }
  }
}
