.us {
  position: relative;
  font-size: 14px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    background-image: url(/us.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    &__inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 36px 38px 38px 0;
      @media (min-width: 768px) {
        width: 360px;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1024px) {
        width: 470px;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1200px) {
        width: 585px;
        margin-left: auto;
        margin-right: 0;
      }
      @media (min-width: 1360px) {
        width: 620px;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__right {
    &__top {
      background-image: linear-gradient(
          rgba(1, 1, 1, 0) 0%,
          rgba(2, 2, 2, 0.4) 45.31%,
          rgba(3, 3, 3, 0.77) 100%
        ),
        url(/us1.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 36px 0px 32px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      height: 320px;
    }

    &__bottom {
      background-image: linear-gradient(
          rgba(1, 1, 1, 0) 0%,
          rgba(2, 2, 2, 0.4) 45.31%,
          rgba(3, 3, 3, 0.77) 100%
        ),
        url(/us2.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 36px 100px 32px 24px;
      height: 320px;
      color: #fff;
      display: grid;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    &--mini {
      font-size: 30px;
    }
  }

  &__desc {
    line-height: 21px;
  }

  &__feature {
    margin-top: 30px;
    margin-bottom: 32px;
  }

  &__btn {
    margin-top: 40px;
  }

  &__info {
    display: flex;
    align-items: center;
    &__logo {
      margin-right: 27px;
      img {
        height: 100px;
        width: 115px;
        object-fit: cover;
      }
    }

    &__cat-wrap {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-bottom: 8px;
    }

    &__cat {
      margin-left: 8px;
    }

    &__estd {
      display: flex;
      align-self: center;
      span {
        font-weight: 700;
      }
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: block;
        margin-left: 6px;
        background-color: $secondary-color;
      }
    }

    &__name {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 7px;
    }

    &__details-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__details {
      line-height: 20px;
    }
  }

  &__read {
    align-self: flex-end;
    &__title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 8px;
      font-weight: 700;
    }

    &__desc {
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  &__cta {
    line-height: 20px;
    color: $secondary-color;
  }
}
