.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: relative;
  background-color: #fff;

  &__right {
    display: flex;
    align-items: center;
  }
  &__navImage {
    margin-right: 20px;
  }
}
