.topbar {
  width: 100%;
  background-color: $primary-color;

  .topbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    padding: 5px 5px;
    color: #fff;
    max-width: 1440px;

    margin: 0 auto;
    @media (max-width: 680px) {
      display: none;
    }
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  .contact__icon {
    margin-right: 5px;
    //margin-top: 8px;
  }
  .signup__icon {
    margin-right: 12px;
  }

  &__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  &__right {
    display: flex;
    align-items: center;
  }

  &__country {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 24px;
    span {
      margin-right: 12px;
    }
  }
}
// .contact__info {
//   cursor: pointer;
//   &:hover {
//     text-decoration: underline;
//   }
// }
