.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  position: relative;
  font-size: 14px;
  padding: 5px 100px;
  color: #fff;
  @media (max-width: 480px) {
      flex-direction: column;
  }
  &__right {
    display: flex;
    align-items: center;
  }

  &__country {
    display: flex;
    align-items: center;
    margin-right: 24px;
    span {
      margin-right: 12px;
    }
  }
}
